@using Type = NETD_F2020_Lab5.Models.Type
@model NETD_F2020_Lab5.Models.Fakemon

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Fakemon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOne" class="control-label"></label>
                <select asp-for="TypeOne" class="form-control" asp-items="Html.GetEnumSelectList<Type>()">
                    <option disabled selected>Select Primary Type...</option>
                </select>
                <span asp-validation-for="TypeOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeTwo" class="control-label"></label>
                <select asp-for="TypeTwo" class="form-control" asp-items="Html.GetEnumSelectList<Type>()">
                    <option disabled selected>Select Secondary Type...</option>
                </select>
                <span asp-validation-for="TypeTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nature" class="control-label"></label>
                <select asp-for="Nature" class="form-control" asp-items="Html.GetEnumSelectList<Nature>()">
                    <option disabled selected>Select Nature...</option>
                </select>
                <span asp-validation-for="Nature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
