@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my NETD3202 Lab 5 Web App!</h1>
    <p>
        This website's original purpose was going to be a complete Pok&eacute;mon Database, but as I started designing it
        I threw that idea away real fast.
    </p>
    <p>
        After that proved to be a bit too much, I ended up still committing to the idea of some kind of Monster database, so
        then I decided to make a Fake Monster database, aka Fakemon/Fak&eacute;mon. I had it all in my head: the battle system,
        the Stat Calculations, everything down to Individual Values and Effort Values. It seemed like a great idea at the start. 
        But then I had to implement it.
    </p>
    <p>
        I still would like to create something like that in the future, but this being an assignment I have to submit and my 
        unfamiliarity with the ASP.NET Core Framework AND Entity Framework, that task is for the somewhat distant future.
    </p>
    <p>
        So for now, I settled on this simple <a asp-controller="Fakemons" asp-action="Index">Fakemon database</a> with no fancy calculations. 
        I'm not sure how good this is as a baseline for the app I would want to create out of this, but it gave me some experience with working with
        <a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-5.0">ASP.NET Core</a> 
        and <a href="https://docs.microsoft.com/en-us/ef/">EF</a>. I spent so much time trying to figure out how to get things to work by the time I was
        supposed to style my reserves were depleted. I hope to update everything for the next Lab.
    </p>


</div>
